{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkChop</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'linkchop/styles.css'%}">

</head>
<body>

<header>
    <div class="header-container">
        <div class="logo">LinkChop</div>
        <nav></nav>
        <a href="#" class="call-btn">Contact</a>
    </div>
</header>

<div class="container">
    <h1 class="headline">Shorten, Share, and Track Your Links Instantly</h1>
    <p class="subheadline">Boost your online presence with concise, memorable URLs that drive clicks and monitor engagement effortlessly.</p>
<form method="post">
    <div class="input-group">
        {% csrf_token %}
        <input type="text" name="url" placeholder="Enter your URL to shorten" class="url-input" />
        <button type="submit" class="shorten-btn">Shorten URL</button>
    </div>
    {% if short_url %}
    <p>Your shortened URL: <a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>
{% endif %}
</div>
</form>


<footer>
    <p>© Creator - Macduff Olusa</p>
</footer>

</body>
</html>
